
#barra{
    -fx-background-color: rgba(0,0,0,0.43)
}
#fondo{
    -fx-background-image: url(../../../images/fondoprueba1.png);
    -fx-background-size: stretch;
}
#menu{
    -fx-border-color: black;
    -fx-background-image: url(../../../images/logoMin1.png);
    -fx-background-size: stretch;
}
#buttonVolver{
    -fx-border-color: black;
}
#buttonVolver:hover{
    -fx-border-color: black;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-font-weight: bold; 
    -fx-underline: true; 
}
#buttonNuevo{
    -fx-border-color: black;
}
#buttonNuevo:hover{
    -fx-border-color: black;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-font-weight: bold; 
    -fx-underline: true; 
}
#textfieldNombre:focused{
    -fx-background-radius: 20px;
}
