/*
 * Empty Stylesheet file.
 */

/*.mainFxmlClass {
   
}*/

#barra{
    -fx-background-color:#000000;
}
#menu{    
    -fx-background-size: stretch; 
    -fx-background-image: url(../../images/usuario1.png);
}