#fondoLogo{
    -fx-background-image: url("images/logo.png");
    -fx-background-size: stretch; 
}
#fondoHuerto{
    -fx-background-image: url("images/fotoHuerto.jpg");
    -fx-background-size: stretch;
}
#fondoLogin{
    -fx-background-color: rgba(0,0,0,0.43);
    
}