#fondo{
    -fx-background-image: url("images/logo.png");
    -fx-background-size: stretch;
}
#labelErrores{
    -fx-text-fill: #ff3333;
}
#buttonLogin:enabled{
    -fx-background-color: #00ccff;
}
#fondoHuerto{
    -fx-background-image: url("images/fotoHuerto.jpg");
    -fx-background-size: stretch;
}