#fondo{
    -fx-background-image: url("../../../images/fondoprueba1.png");
    -fx-background-size: stretch;
}
#foto{
    -fx-background-image: url("../../../images/usuario1.png");
    -fx-background-size: stretch;
    -fx-alignment: BOTTOM_CENTER;
}
#fondito{
    -fx-background-color: rgba(0,0,0,0.43);
}
#botonModificar{
    -fx-border-color: black;
}
#botonModificar:hover{
    -fx-border-color: black;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-font-weight: bold; 
    -fx-underline: true; 
}
#botonCancelar{
    -fx-border-color: black;
}
#botonCancelar:hover{
    -fx-border-color: black;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-font-weight: bold; 
    -fx-underline: true; 
}
#buttonNuevo{
    -fx-border-color: black;
}
#buttonNuevo:hover{
    -fx-border-color: black;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-font-weight: bold; 
    -fx-underline: true; 
}
#buttonEditar{
    -fx-border-color: black;
}
#buttonEditar:hover{
    -fx-border-color: black;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-font-weight: bold; 
    -fx-underline: true; 
}
#buttonEliminar{
    -fx-border-color: black;
}
#buttonEliminar:hover{
    -fx-border-color: black;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-font-weight: bold; 
    -fx-underline: true; 
}







